.list {
  width: 350px;
  text-align: center;
}
.list__item {
  margin: 20px 0;
  cursor: pointer;
}
.list__txt {
  position: relative;
  padding-bottom: 5px;
}
.list__txt::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 1px solid #ffa500;
  transition: width 0.25s ease-in 0s;
}
.list__item:hover .list__txt::before {
  width: 100%;
}
